# Archivos y carpetas ignorados en los commits

/node_modules

#git ignore Python
*.pyc
*.pyc

#git ignore thrift
_build/
_tags
configure
setup.data
setup.ml
myocamlbuild.ml
*/META
*/*.mllib
*/*.mldylib
Makefile
OCamlMakefile
